<f:if condition="{admin}">
    <div class="btn col-12 pb-1 pt-0 border-bottom">
        <f:link.action action="edit" controller="Order" class="all-categories">
            <i class="fa fa-list"></i> Orders
        </f:link.action>
    </div>
</f:if>
<f:if condition="{cart.client}">
    <div class="account-info">
        <div class="btn col-12 pb-1 pt-1 border-bottom">
            <f:link.action action="edit" controller="Client" arguments="{client : cart.client}" class="text-success">
                My Account
            </f:link.action>
        </div>
        <div class="btn col-12 pt-1 pb-1 border-bottom">
            <f:link.action action="list" controller="Order" class="text-success">
                My Orders
            </f:link.action>
        </div>
    </div>
</f:if>
<div class="cart small-cart-header mt-1 mb-1 collapse show" data-clientid="{client.uid}" data-ajax="{ajax}"
     data-storage="{storagepid}" data-cart="{cart.uid}">
    <div class="border-bottom">
        <div class="row ml-2">
            <div class="col-1 pl-0 pr-0 align-bottom">
                <div><i class="fa fa-shopping-cart"></i></div>
            </div>
            <div class="col-7 pl-0"><h5 class="mb-1">Cart</h5></div>
            <div class="col-4 text-right">
                <f:comment>
                <div class="close-btn" data-toggle="collapse" data-target="#cart-btn"><i
                        class="fa fa-times pointer"></i></div>
                </f:comment>
            </div>
        </div>
    </div>

    <f:if condition="{cart.cartitems}">
        <f:then>
            <f:for each="{cart.cartitems}" as="cartitem">
                <div class="cartitem border-bottom" data-buildid="{cartitem.build.uid}">
                    <div class="row pb-3 pt-3">
                        <div class="col-3 text-center">
                            <f:if condition="{cartitem.build.image.0}">
                                <f:image
                                        image="{cartitem.build.image.0}"
                                        title="{f:if(condition:image.originalResource.title, then:newsItem.image.originalResource.title, else:newsItem.title)}"
                                        alt="{f:if(condition:image.originalResource.alternative, then:image.originalResource.alternative, else:newsItem.title)}"
                                        width="30"
                                        height="30"
                                />
                            </f:if>
                        </div>
                        <div class="col-9">
                            <div class="row mb-3">
                                <div class="col-9 pl-0 pr-0 cart-item-text">
                                    <f:link.action action="show" controller="Product" arguments="{product : cartitem.product, buildid : cartitem.build}">
                                    <div class="cart-item-title" title="{cartitem.build.product.name}">{cartitem.build.product.name}<br><span title="{cartitem.build.name}">{cartitem.build.name}</span></div>
                                    </f:link.action>
                                </div>
                                <div class="col-3 text-right">
                                    <i class="fa fa-trash-o pointer trash" data-buildid="{cartitem.build.uid}"></i>
                                </div>
                            </div>
                            <div class="row">

                                <div class="input-plus-minus input-group col-8 pl-0 form-row plus-minus">
                                    <div class="col-4 text-right">

                                        <span class="input-group-btn">
                                           <button type="button" class="btn-number add-more-to-cart remove minus">
                                              <i class="fa fa-minus"></i>
                                          </button>
                                        </span>

                                    </div>
                                    <div class="col-4">
                                        <input type="text" name="quant[{cartitem.uid}]"
                                               class="input-number quantity-input-height form-control text-center pr-1 pr-0 pl-1 pt-1 border-success"
                                               value="{cartitem.amount}"
                                               min="1" max="100">
                                    </div>
                                    <div class="col-4">

                                        <span class="input-group-btn">
                                            <button type="button" class="btn-number add-more-to-cart add plus">
                                             <i class="fa fa-plus"></i>
                                            </button>
                                        </span>

                                    </div>
                                </div>

                                <div class="col-4 pl-0 pr-1 text-right"><span>{price:priceFormat(price: '{cartitem.total}')}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
            <div>
                <div class="row pt-2">
                    <div class="col-3">Total</div>
                    <div class="col-9 text-right"><u>{price:priceFormat(price: '{cart.total}')}</u></div>
                </div>
                <div class="row pt-3">
                    <div class="col-12 text-center checkout-button">
                        <a href="{f:uri.action(controller: 'Cart', action: 'checkout')}" class="btn btn-success">Go To Checkout</a>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>

            <p class="mt-3 text-center">The Cart is empty.</p>
        </f:else>
    </f:if>


</div>