<div class="col-xl-7">

    <f:render section="search" arguments="{_all}"/>

    <f:render section="products" arguments="{_all}"/>

    <f:section name="search">
        <f:form action="list" arguments="{search:search}">
            <div class="row mb-3">
                <div class="col-xl-6">
                    <div class="input-group">

                        <f:form.textfield name="search" class="form-control form-control-sm search-input" value="{search}"
                                          placeholder=""/>
                        <span class="search-icon"><i class="fa fa-search"></i></span>
                        <div class="input-group-prepend">
                            <f:form.button type="submit" class="search-button pb-1">
                                <f:translate key="tx_bssshop_domain_model_product.search"/>
                            </f:form.button>
                        </div>
                        <f:link.action action="list" controller="Product" class="clear-search">
                            <span class="pb-2"><i class="fa fa-times"></i></span>
                        </f:link.action>
                    </div>
                </div>
                <div class="col-xl-6">
                    <select class="col-xl-6 form-control form-control-sm float-right order">
                        <option value="name"
                                data-order="{f:uri.action(controller: 'Product', action: 'list')}"
                                {f:if(condition: sort, then:
                        'selected', else: '')} >Order by name</option>
                        <f:if condition="{currentCategory}">
                            <f:then>
                                <option value="price"
                                        data-order="{f:uri.action(controller: 'Product', action: 'list', arguments: {sort: 'price', category: currentCategory, search: search})}"
                                        {f:if(condition: sort, then:
                                'selected', else: '')}>Order by price</option>
                            </f:then>
                            <f:else>
                                <option value="price"
                                        data-order="{f:uri.action(controller: 'Product', action: 'list', arguments: {sort: 'price', search: search})}"
                                        {f:if(condition: sort, then:
                                'selected', else: '')}>Order by price</option>
                            </f:else>
                        </f:if>
                    </select>
                </div>
            </div>
        </f:form>
    </f:section>
    <f:section name="products">
        <div class="list">
        <div class="products row" data-pagination="{f:uri.action(controller: 'Product', action: 'pagination' )}"
                                  data-category="{currentCategory}"
                                  data-limit="{settings.list.paginate.itemsPerPage}">
            <f:if condition="{products}">
                <f:then>

                    <f:for each="{products}" as="product" iteration="iterator">
                        <div class="product col-sm-4 mb-4 {f:if(condition: '{iterator.cycle % 3}', then: 'border-right')}"
                             data-builduid="{product.builds.0.uid}">
                            <div class="mb-2">
                                <f:link.action class="category-title" action="list" controller="Product"
                                               arguments="{category : product.category}">
                                    {product.category.title}
                                </f:link.action>
                            </div>
                            <div class="mb-3 text-center">
                                <f:link.action action="show" arguments="{product : product}">
                                    <f:if condition="{product.builds.0.image.0}">
                                        <f:image image="{product.builds.0.image.0}"
                                                 alt="{product.builds.0.image.originalResource.description}"
                                                 title="{product.builds.0.image.originalResource.title}"
                                                 width="185c" height="124c"/>
                                    </f:if>
                                </f:link.action>
                            </div>
                            <div class="row">
                                <f:for each="{product.builds}" as="build">
                                    <f:if condition="{build.main}">
                                        <div class="col price">{price:priceFormat(price: '{build.price}')}</div>
                                    </f:if>
                                </f:for>

                                <div class="col icon-cart text-right">
                                    <button class="product-list add-to-cart">
                                        <i class="fa fa-shopping-cart pointer"></i>
                                    </button>
                                </div>
                            </div>
                            <f:link.action action="show" arguments="{product : product}">
                                <div><span class="title" title="{product.name}">{product.name -> f:format.html()-> f:format.crop(maxCharacters: 40)}</span>
                                    <f:comment>
                                        {product.description -> f:format.html()-> f:format.crop(maxCharacters: 170)}
                                    </f:comment>
                                </div>
                            </f:link.action>
                        </div>
                    </f:for>
                    <input type="hidden" class="row" value="{rows}">
                </f:then>
                <f:else>
                    <div class="col-lg-8 ml-3 mb-4 alert alert-info" role="alert">
                        <p>
                            <f:translate key="tx_bssshop_domain_model_product.empty"/>
                            <b>"{search}"</b></p>
                    </div>
                </f:else>
            </f:if>
            <div class="loader">
                <img src="/typo3conf/ext/bss_shop/Resources/Public/Icons/loader-small.svg"/>
            </div>
        </div>
        </div>

    </f:section>
</div>