{namespace price=Bermuda\BssShop\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<div id="tx-bss-shop">

			<div class="container">
				<div class="row pt-5">
					<f:render partial="NavigationMobile" arguments="{_all}"/>

					<f:render partial="Categories" arguments="{_all}"/>

					<div class="col-xl-7 pr-3 pt-5">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="carousel row">

									<f:render partial="Product/Thumbnails" arguments="{_all}"/>

								</div>
							</div>
							<div class="col-md-6 col-lg-6 product-build-info">

								<f:render partial="Product/Product" arguments="{_all}"/>

							</div>
						</div>
					</div>

					<f:render partial="Navigation" arguments="{_all}"/>

				</div>
			</div>
		</div>

	</f:section>


</html>