<div class="gallery-slider mb-3">
    <div class="slider-container">
        <f:for each="{product.builds}" as="build" iteration="iterationImage">
            <f:for each="{build.image}" as="image">
                <div class="gallery-item">
                    <a href="{f:uri.image(image:image)}" class="swipebox"
                       rel="gallery{product.uid}">
                        <f:image
                                image="{image}"
                                title="{f:if(condition:image.originalResource.title, then:newsItem.image.originalResource.title, else:newsItem.title)}"
                                alt="{f:if(condition:image.originalResource.alternative, then:image.originalResource.alternative, else:newsItem.title)}"
                                width="298"
                                height="254"
                        />
                    </a>
                </div>
            </f:for>
        </f:for>
    </div>
</div>
<div class="gallery-carousel">
    <div class="carousel-content">
        <f:for each="{product.builds}" as="build" iteration="iterationImage">
            <f:for each="{build.image}" as="image">
                <div class="carousel-item" data-build="{build.uid}">
                    <f:image
                            image="{image}"
                            title="{f:if(condition:image.originalResource.title, then:newsItem.image.originalResource.title, else:newsItem.title)}"
                            alt="{f:if(condition:image.originalResource.alternative, then:image.originalResource.alternative, else:newsItem.title)}"
                            width="72"
                            height="72"
                    />
                </div>
            </f:for>
        </f:for>
    </div>
</div>
