<div class="col-12 navigation-mobile">
    <nav class="navbar navbar-expand-xl">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="row">
                <div class="col-7 pb-3 pt-3"><h5 class="">Categories</h5></div>
                <div class="col-4 pr-0 pt-2 text-right">
                    <div class="close-btn" data-toggle="collapse" data-target="#cart-btn"><i
                            class="fa fa-times pointer close-menu"></i></div>
                </div>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link border-top border-success pointer" href="#">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-top border-success pointer" href="#">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-top border-success pointer" href="#">Category</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="destination"></div>
