{namespace price=Bermuda\BssShop\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	<f:section name="content">
		<div class="container">
			<div class="row justify-content-center  pt-5">

				<f:render partial="Categories" arguments="{_all}"/>

				<div class="col-xl-7 col-sm-12 pl-0 pr-0">
					<div class="row mr-3 ml-3">
						<div class="col-sm-12 alert alert-success">
							Your order is confirmed!
						</div>
					</div>
					<div class="row mr-3 ml-3">
						<div class="col-sm-6 pb-1 pl-0 mt-1">
							<div class="font-weight-bold">{settings.merchant.name}</div>
							<div>{settings.merchant.street}</div>
							<div>{settings.merchant.zip} {settings.merchant.city}</div>
							<div>{settings.merchant.country}</div>
						</div>
					</div>
					<div class="row justify-content-end mr-3 ml-3">
						<div class="col-sm-6 pb-3 pl-0">
							<div class="font-weight-bold">{order.client.name}</div>
							<div>{order.client.street}</div>
							<div>{order.client.zip} {order.client.city}</div>
							<div>{order.client.country.shortNameEn}</div>
							<div>{order.client.phone}</div>
						</div>
					</div>
					<div class="row mr-3 ml-3">
						<div class="col-col-12 pl-0"></div>
						<h4 class="">Order</h4>
					</div>
					<div class="row mb-3 mr-3 ml-3">
						<div class="col-sm-6 pl-0">Nr: #{order.uid}</div>
						<div class="col-sm-6 pl-0">Date: <f:format.date date="now" format="Y-m-d" /></div>
					</div>
					<div class="row mr-3 ml-3">
						<div class="col-6 border-bottom font-weight-bold">
							Products
						</div>
						<div class="col-2 border-bottom font-weight-bold text-right">
							Amount
						</div>
						<div class="col-2 border-bottom font-weight-bold text-right">
							Price
						</div>
						<div class="col-2 border-bottom border-left font-weight-bold text-right">
							Total
						</div>
					</div>
					<f:for each="{order.orderitems}" as="orderitem" iteration="iterator">

						<f:if condition="{iterator.isOdd}">
							<f:then>
								<div class="row mr-3 ml-3">
									<div class="col-6 pt-2 pb-2">
										<div class="row">
											<div class="col-2">
												<f:if condition="{orderitem.build.image.0}">
													<f:image
															image="{orderitem.build.image.0}"
															title="{f:if(condition:image.originalResource.title, then:newsItem.image.originalResource.title, else:newsItem.title)}"
															alt="{f:if(condition:image.originalResource.alternative, then:image.originalResource.alternative, else:newsItem.title)}"
															width="30"
															height="30"
													/>
												</f:if>
											</div>
											<div class="cart-view-title col-10 pt-1" title="{orderitem.product.name} - {orderitem.build.name}">
												<f:link.action action="show" controller="Product"
															   arguments="{product : orderitem.product, buildid : orderitem.build}">

													<b>{orderitem.product.name}</b> - {orderitem.build.name}
												</f:link.action>
											</div>
										</div>
									</div>
									<div class="col-2 order-table-cell text-right">
										x{orderitem.amount}
									</div>
									<div class="col-2 order-table-cell text-right pl-1">
										{price:priceFormat(price: '{orderitem.price}', currency: 1)} Fr.
									</div>
									<div class="col-2 order-table-cell pb-1 border-left text-right pl-1">
										{price:priceFormat(price: '{orderitem.total}', currency: 1)} Fr.
									</div>
								</div>
							</f:then>
							<f:else>
								<div class="row table-success mr-3 ml-3">
									<div class="col-6 pt-2 pb-2">
										<div class="row">
											<div class="col-2">
												<f:if condition="{orderitem.build.image.0}">
													<f:link.action action="show" controller="Product"
																   arguments="{product : orderitem.product, buildid : orderitem.build}">
														<f:image
																image="{orderitem.build.image.0}"
																title="{f:if(condition:image.originalResource.title, then:newsItem.image.originalResource.title, else:orderitem.name)}"
																alt="{f:if(condition:image.originalResource.alternative, then:image.originalResource.alternative, else:orderitem.name)}"
																width="30"
																height="30"
														/>
													</f:link.action>
												</f:if>
											</div>
											<div class="col-10 cart-view-title pt-1" title="{orderitem.product.name} - {orderitem.build.name}">
												<f:link.action action="show" controller="Product"
															   arguments="{product : orderitem.product, buildid : orderitem.build}">
													<b>{orderitem.product.name}</b> - {orderitem.build.name}
												</f:link.action>
											</div>
										</div>
									</div>
									<div class="col-2 order-table-cell text-right">
										x{orderitem.amount}
									</div>
									<div class="col-2 order-table-cell text-right pl-1">
										{price:priceFormat(price: '{orderitem.price}', currency: 1)} Fr.
									</div>
									<div class="col-2 order-table-cell pb-1 border-left text-right pl-1">
										{price:priceFormat(price: '{orderitem.total}', currency: 1)} Fr.
									</div>
								</div>
							</f:else>
						</f:if>

					</f:for>
					<div class="row justify-content-end mr-3 ml-3 pb-4 mb-5">
						<div class="total border-top border-left text-right col-2 pt-2 pb-1 pl-1">
							<u>{price:priceFormat(price: '{order.total}', currency: 1)} Fr.</u>
						</div>
					</div>
					<div class="row mr-3 ml-3">
						<f:if condition="{order.message}">
							<div class="col-lg-6 pt-3 pl-0 border-top">
								<h4 class="pb-2">Message</h4>
								{order.message -> f:format.html()}
							</div>
						</f:if>
						<div class="col-12 pt-3 mb-5 pl-0 pr-0">
							<f:link.action action="list" controller="Product" class="btn btn-success color-white mr-2">
								<span class="mr-2"><i class="fa fa-arrow-left"></i></span>Back
								to
								Shop
							</f:link.action>
							<f:link.action action="print" controller="Order" arguments="{orderUid : order.uid}"
										   class="btn btn-success color-white mr-2" target="_blank">
								Print view
							</f:link.action>
						</div>
					</div>



				</div>

				<f:render partial="Navigation" arguments="{_all}"/>

			</div>
		</div>

	</f:section>
</html>