{namespace price=Bermuda\BssShop\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="content">

    <div class="container">
        <div class="row justify-content-center pt-5">

            <f:render partial="Categories" arguments="{_all}"/>
            <div class="col-xl-7 col-sm-12 pl-0 pr-0">
                <f:if condition="{orders}">
                    <f:then>
                        <div class="row ml-3 mr-3">
                            <div class="col-col-12 pl-0"></div>
                            <h4 class="">
                                <f:translate key="tx_bssshop_domain_model_product.my_orders"/>
                            </h4>
                        </div>
                        <div class="row ml-3 mr-3">
                            <div class="col-3 border-bottom font-weight-bold">
                                Nr.
                            </div>
                            <div class="col-6 border-bottom font-weight-bold">
                                Date
                            </div>
                            <div class="col-3 border-bottom border-left font-weight-bold text-right">
                                Total
                            </div>
                        </div>
                        <f:for each="{orders}" as="order" iteration="iterator">
                            <f:if condition="{iterator.isOdd}">
                                <f:then>
                                    <f:link.action action="show" controller="Order" arguments="{orderUid : order.uid}">
                                        <div class="order-item row ml-3 mr-3">
                                            <div class="col-3 pt-2 pb-2">
                                                #{order.uid}
                                            </div>
                                            <div class="col-6 pt-2">
                                                <f:format.date format="%Y-%m-%d">{order.crdate}</f:format.date>
                                            </div>
                                            <div class="col-3 pt-2 pb-1 border-left text-right">
                                                {price:priceFormat(price: '{order.total}', currency: 1)} Fr.
                                            </div>
                                        </div>
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="show" controller="Order" arguments="{orderUid : order.uid}">
                                        <div class="order-item row table-success ml-3 mr-3">
                                            <div class="col-3 pt-2 pb-2">
                                                #{order.uid}
                                            </div>
                                            <div class="col-6 pt-2">
                                                <f:format.date format="%Y-%m-%d">{order.crdate}</f:format.date>
                                            </div>
                                            <div class="col-3 pt-2 pb-1 border-left text-right">
                                                {price:priceFormat(price: '{order.total}', currency: 1)} Fr.
                                            </div>
                                        </div>
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </f:for>
                        <div class="row">
                            <div class="col-12 mt-5 mb-5 ml-3 mr-3">
                                <f:link.action action="list" controller="Product"
                                               class="btn btn-success color-white mr-2">
                                    <span class="mr-2"><i class="fa fa-arrow-left"></i></span>Back
                                    to
                                    Shop
                                </f:link.action>
                            </div>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="row ml-3 mr-3">
                            <div class="col-12 alert alert-info">
                                There are no orders...
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </div>
            <f:render partial="Navigation" arguments="{_all}"/>

        </div>
    </div>

</f:section>
</html>