body                                { font-size: 0.9rem; }

#tx-bss-shop textarea               { resize: none; }

#tx-bss-shop a                      { color: #343a40; }
#tx-bss-shop a:hover                { text-decoration: none; color: #343a40; }

#tx-bss-shop .pointer               { cursor: pointer; }

#tx-bss-shop .center                { width: 150px; margin: 40px auto; }

#tx-bss-shop .quantity-input-height { height: 87%; }

#tx-bss-shop #destination           { position: absolute; background: #fff; z-index: 9; padding: 20px 20px; margin-right: 10px; max-width: 300px; top: 39px; right: 0; display: none; border: 1px solid #dee2e6; box-shadow: 2px 3px 5px rgba(0, 0, 0, .2); }

#tx-bss-shop .navigation-mobile     { display: none; }

#tx-bss-shop .product               { min-height: 270px; }

#tx-bss-shop .navbar                { display: block; max-width: 300px; }
#tx-bss-shop .navbar-toggler-icon   { background-image: url(https://mdbootstrap.com/img/svg/hamburger7.svg?color=28a745); }
#tx-bss-shop .navbar-collapse       { position: absolute; top: -17px; right: 316px; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 100%; height: 300vh; transition: all 0.3s ease; display: block; background: #ffffff; z-index: 12; min-width: 200px; border: 1px solid #dee2e6; }
#tx-bss-shop .navbar-collapse.show  { right: 16px; }
#tx-bss-shop .navbar-collapse.collapsing { height: auto !important; margin-right: 50%; transition: all 0.3s ease; display: block; }

#tx-bss-shop .cart-item-text,
#tx-bss-shop .cart-item-text a    { font-size: 14px; line-height: 1.2; }
#tx-bss-shop .add-to-cart a         { color: white; }
#tx-bss-shop button.add-to-cart.product-list { background: transparent; border: none; }
#tx-bss-shop button.add-to-cart.product-list:focus { outline: none; }

#tx-bss-shop .flex-viewport         { margin-bottom: 10px; }
#tx-bss-shop .flex-viewport .flex-control-nav { bottom: 20px; left: 0; text-align: center; width: 100%; }
#tx-bss-shop .flex-viewport .flex-control-nav li { margin: 0 4px; }
#tx-bss-shop .flex-viewport .flex-control-nav li a { background: #fefefe; }
#tx-bss-shop .flex-viewport .flex-control-nav li a.flex-active { background: #28a745; }
#tx-bss-shop .flex-viewport .flex-direction-nav li { padding: 0; margin: 0; display: inline-block; vertical-align: top; }
#tx-bss-shop .flex-viewport .flex-direction-nav li:before { display: none; }
#tx-bss-shop .flex-viewport .flex-direction-nav li a { margin: 0; opacity: 1; text-indent: -99999px!important; display: block; }
#tx-bss-shop .flex-viewport .flex-direction-nav li a:before { content: ''; position: absolute; top: 50%; left: 50%; margin-top: -9px; margin-left: -5px; text-indent: 0; font-size: 24px; width: 100%; height: 100%; }
#tx-bss-shop .flex-viewport .flex-direction-nav .flex-nav-prev { position: absolute; top: 50%; left: 10px; margin-top: -25px; }
#tx-bss-shop .flex-viewport .flex-direction-nav .flex-nav-next { position: absolute; top: 50%; right: 10px; margin-top: -25px; }
#tx-bss-shop .slider { position: relative; }
#tx-bss-shop .slider .slider-item { position: relative; }
#tx-bss-shop .slider .slider-item .slider-text { position: absolute; left: 0; top: 20%; width: 100%; }
#tx-bss-shop .gallery-slider { margin-bottom: 24px; }
#tx-bss-shop .gallery-slider .gallery-item { text-align: center; position: relative; }
#tx-bss-shop .gallery-slider .gallery-item a { display: inline-block; position: relative; }
#tx-bss-shop .gallery-slider .gallery-item [class*='icon-'] { width: 45px; height: 45px; background: #28a745; line-height: 41px; color: #fff; text-align: center; font-size: 28px; display: block; position: absolute; right: 0; top: 91px; }
#tx-bss-shop .gallery-slider .gallery-item [class*='icon-']:hover { background: gray; }
#tx-bss-shop .gallery-slider .gallery-item .no-icon [class*="icon-"] { display: none; }
#tx-bss-shop .gallery-carousel .flex-direction-nav { width: 100%; position: absolute; bottom: -20px; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-prev { float: left; min-width: 45%; text-align: right; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-prev a { cursor: pointer; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-next { float: right; min-width: 45%; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-next a { cursor: pointer; }
#tx-bss-shop .gallery-carousel { position: static; padding-bottom: 10px; }
#tx-bss-shop .gallery-carousel .carousel-item { cursor: pointer; position: relative; width: auto !important; max-width: 100%; height: auto; }
#tx-bss-shop .gallery-carousel .carousel-item:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(40, 167, 69, 0.5); opacity: 0; }
#tx-bss-shop .gallery-carousel .carousel-item:hover:after { opacity: 1; }
#tx-bss-shop .gallery-carousel .youtube-video { position: relative; }
#tx-bss-shop .gallery-carousel .youtube-video:after { position: absolute; color: #fff; font-size: 32px; top: 50%; left: 50%; margin-top: -16px; margin-left: -12px; z-index: 2; }
#tx-bss-shop .gallery-carousel .youtube-video:before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.3); }
#tx-bss-shop .gallery-carousel .youtube-video video { min-height: 94px; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-prev { left: -20px; }
#tx-bss-shop .gallery-carousel .flex-direction-nav .flex-nav-next { right: -20px; }
#tx-bss-shop .gallery-carousel   { margin-left: 15px; }
#tx-bss-shop .carousel-slider .flex-direction-nav .flex-nav-prev { left: -20px; }
#tx-bss-shop .carousel-slider .flex-direction-nav .flex-nav-next { right: -20px; }
#tx-bss-shop .flex-direction-nav .flex-disabled { opacity: 1!important; }
#tx-bss-shop .fa-chevron-left, .fa-chevron-right { color: #28a745; }
#tx-bss-shop .fa-chevron-up      { color: #28a745; display: none;}
#tx-bss-shop .form-control       { font-size: 0.9rem; }
#tx-bss-shop .total              { margin-top: -1px; }
#tx-bss-shop .order-table-cell   { padding-top: 12px; }
#tx-bss-shop .plus-minus               { margin-left: -10px; }

#tx-bss-shop .checkout-button a             { display: block; color: white; }
#tx-bss-shop .input-width                   { width: 100%; }
#tx-bss-shop .input-name                    { width: 70%; }
#tx-bss-shop .cart-view-title .print-view   { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: absolute; width: 268px;}
#tx-bss-shop .cart-view-title a             { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: absolute; width: 268px; }
#tx-bss-shop .color-white                   { color: white; }
#tx-bss-shop .color-white:hover             { color: white; }
#tx-bss-shop span.title                     { font-size: 17px; font-weight: 600; line-height: 1.2; }
#tx-bss-shop .category-title                { font-size: 15px; color: #007bff; }
#tx-bss-shop .cart-item-title               { font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: absolute; width: 158px; }
#tx-bss-shop .cart-item-title span          { font-weight: normal; }
#tx-bss-shop .search-button                 { color: white; background: #28a745; border: 1px solid transparent; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem; height: 31px; padding-left: 13px; padding-right: 13px; }
#tx-bss-shop .search-button:hover           { color: #fff; background-color: #218838; border-color: #1e7e34; }
#tx-bss-shop .clear-search                  { position: absolute; top: 0.29rem; right: 85px; color: #4d4d4d; }
#tx-bss-shop .all-categories                { font-size: 1.25rem; font-weight: 600; line-height: 1.4; }
#tx-bss-shop .all-categories i              { font-size: 0.9rem; font-weight: 600; }
#tx-bss-shop .fa-th                         { margin-top: 9px; }
#tx-bss-shop .accordion-heading             { line-height: 1.4; }
#tx-bss-shop .search-icon                   { position: absolute; top: 0.29rem; left: 10px; color: #4d4d4d;}
#tx-bss-shop .order-item:hover              { opacity: 0.5; }
#tx-bss-shop .cart-view-title a:hover       { opacity: 0.5; }
#tx-bss-shop .print-wrapper                 { background-color: white; min-height: 29.7cm; padding-top: 70px; padding-left: 70px!important; padding-right: 70px!important; }
#tx-bss-shop .search-input                  { padding-left: 30px; padding-right: 27px; }
#tx-bss-shop .search-orders                 { padding-left: 30px; padding-right: 27px; max-width: 225px; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;   }
#tx-bss-shop .search-input[type=text]:focus { padding-left: 7px; padding-right: 27px; }
#tx-bss-shop .form-control-sm.orders        {height: auto; padding: 0 10px; }
#tx-bss-shop .table-row-link                {display: block; }
#tx-bss-shop .download-csv                  {font-size: 20px; padding-top: 1px; }


#tx-bss-shop.print                         { background-color: grey; min-height: 35cm; }

#tx-bss-shop .user-info input      { border: none; outline-width: 0;}

#tx-bss-shop .loader               { display: none; margin: auto; position: fixed; bottom: 1%; left: 46%; width: 32px; height: 32px; z-index: 10; }

@media only screen and (max-width: 1200px) {
    #tx-bss-shop .navigation-mobile { display: block ; }
    #tx-bss-shop .left-menu { display: none; }
    #tx-bss-shop .account-info { display: none; }
}



